{% extends 'base.tpl' %}

{% block upgrade_rule %}
<Upgrade_Rule>http://{{ ip }}:{{ http_port }}/firmware/ATA19x.11-2-1MPP0001-006.img</Upgrade_Rule>
{% endblock %}

{% block suffix %}
{% endblock %}
